@import '~stylesheets/variables';

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__item {
  margin: 0 1em;
}

.menu__link {
  color: $white;
  font-size: 1.2em;
  position: relative;
  &:after {
    position: absolute;
    content: '';
    bottom: -0.125em;
    left: 0;
    width: 0.65em;
    height: .125em;
    background-color: transparent;
    transition: all .3s ease;
  }
  &:hover {
    color: $blue;
    &:after {
      background-color: $blue;
      width: 100%;
    }
  }
}

.menu__active {
  &:after {
    background-color: $white;
  }
}


@media screen and (max-width: 768px) {
  .menu__link {
    font-size: 1em;
  }
}

@media screen and (max-width: 480px) {
  .menu {
    width: 100%;
    justify-content: space-around;
    padding: 1em 0 0;
  }
}