@import '~stylesheets/variables';

.logotype {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  line-height: 1.25em;
}

.name {
  letter-spacing: 0.125em;
}

@media screen and (max-width: 480px) {
  .name {
    letter-spacing: 0em;
    position: relative;
    right: 5px;
  }
  .logotype {
    font-size: 1.4em;
  }
}