.header {
  position: relative;
  z-index: 1;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5em;
  }
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    padding: 1em;
  }
}

@media screen and (max-width: 480px) {
  .header__wrapper {
    flex-direction: column;
    a {
      display: flex;
    }
  }
}