@font-face {
  font-family: 'NeueHaasDisplay';
  font-weight: 700;
  src: 
    local('NeueHaasDisplay'), url(fonts/NeueHaasDisplayBold/NeueHaasDisplayBold.woff) format('woff'),
    local('NeueHaasDisplay'), url(fonts/NeueHaasDisplayBold/NeueHaasDisplayBold.ttf) format('ttf'),
    local('NeueHaasDisplay'), url(fonts/NeueHaasDisplayBold/NeueHaasDisplayBold.eot) format('eot');
}

@font-face {
  font-family: 'NeueHaasDisplay';
  font-weight: 500;
  src: 
    local('NeueHaasDisplay'), url(fonts/NeueHaasDisplayMedium/NeueHaasDisplayMedium.woff) format('woff'),
    local('NeueHaasDisplay'), url(fonts/NeueHaasDisplayMedium/NeueHaasDisplayMedium.ttf) format('ttf'),
    local('NeueHaasDisplay'), url(fonts/NeueHaasDisplayMedium/NeueHaasDisplayMedium.eot) format('eot');
}

@font-face {
  font-family: 'NeueHaasDisplay';
  font-weight: 300;
  src: 
    local('NeueHaasDisplay'), url(fonts/NeueHaasDisplayLight/NeueHaasDisplayLight.woff) format('woff'),
    local('NeueHaasDisplay'), url(fonts/NeueHaasDisplayLight/NeueHaasDisplayLight.ttf) format('ttf'),
    local('NeueHaasDisplay'), url(fonts/NeueHaasDisplayLight/NeueHaasDisplayLight.eot) format('eot');
}

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
a {
  transition: 0.2s color ease-in;
  text-decoration: none;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'NeueHaasDisplay', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #171717;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  margin: 0;
  cursor: none;
}


#root {
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
}

.slide-enter,
.slide-exit {
  transition: transform 1000ms ease-out;
}

.slide-enter {
  transform: translateY(100%);
}

.slide-enter.slide-enter-active {
  transform: translateY(0%);
}

.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(0%);
}

.slide-exit-active {
  transform: translateY(-100%);
}